.team-flag
  width: 44px
  vertical-align: middle
  border: 1px solid white

.team-label
  color: #fff
  font-weight: 500
  font-style: normal

.team-container
  height: 110px
  background-color: #000000
  margin: 10px